# Config for dev mode (setup.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
rootDir="/local/mbrown49/burnsrv"

htmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.

wwwroot='\/local\/mbrown49\/burnsrv\/www'
userName="mjb"
##########################################################

##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
liveRootDir="/local/mbrown49/burnsrv"

liveHtmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.

liveWwwRoot='\/local\/mbrown49\/burnsrv\/www'
liveUserName="mbrown49"
##########################################################

# Identical for both dev and live
nginxConfigDir="/etc/nginx/"

# Change to match the output directory for testrunner.sh's
# csv results files. 
resultsDir="/home/$liveUserName/csc3002_approximem/util/testcfg/results"

dependencies="nginx ffmpeg perl fcgiwrap"
