# Config for dev mode (setup.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
rootDir="/local/mbrown49/burnsrv"

htmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.

wwwroot='\/local\/mbrown49\/burnsrv\/www'
userName="mjb"
##########################################################

# Config for live mode (previously setup2.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
liveRootDir="/local/mbrown49/burnsrv"

liveHtmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.

liveWwwRoot='\/local\/mbrown49\/burnsrv\/www'
liveUserName="mbrown49"
##########################################################

# Identical for both dev and live
nginxConfigDir="/etc/nginx/"

