# StreamServer Config file
# Author: MJB Authored: 05/04/2020
# Options may be overwritten by arguments

################################################################################
#                            COMMON CONFIGURATION                              #
################################################################################

# used only by livestream.sh:
readonly defaultServer="rtmp://127.0.0.1:1935/live"
readonly defaultStream="/local/mbrown49/burnsrv/bbc1/futurama.mp4"

# Used by startclient.sh (our selected method):
readonly defaultVodStream="rtmp://127.0.0.1:1935/bbc1/futurama.mp4"
maxTime="00:00:10"

# May be either live or vod
readonly defaultMode="vod"
readonly defaultClientCount="40"

################################################################################
#                           TESTRUNNER CONFIGURATION                           #
################################################################################

streamFormat="mp4"
rtmpPort="1935"
rtmpPath="bbc1"
userName="mbrown49"
readonly skipSync="true" # false for real tests
ntpHost="0.uk.pool.ntp.org"
streamMaxLength="00:00:10"

readonly removeOldCap="true"
readonly capDir="tcpdumps"
readonly remotePcapFile="testrunner.pcap"
readonly clearCapDir="false" # true for real tests

streamServers=(
"qub-streamer.thran.uk"
#"127.0.0.1"
)

streamServersDesc=(
"Azure Cloud"
"Localhost Test"
)

# In the future we will select files with additional bitrate/quantifiers
streamFiles=(
"crabs"
)

# A number of times could be considered. Should be shorter than the video length.
# Unit: Seconds.
experimentTime="10"
