# StreamServer Config file
# Author: MJB Authored: 05/04/2020
# Options may be overwritten by arguments

################################################################################
#                            COMMON CONFIGURATION                              #
################################################################################

# used only by livestream.sh:
readonly defaultServer="rtmp://127.0.0.1:1935/live"
readonly defaultStream="/local/mbrown49/burnsrv/bbc1/futurama.mp4"

# Used by startclient.sh (our selected method):
readonly defaultVodStream="rtmp://127.0.0.1:1935/bbc1/futurama.mp4"
maxTime="00:00:30"

# May be either live or vod
readonly defaultMode="vod"
readonly defaultClientCount="40"

################################################################################
#                           GREENWICH CONFIGURATION                            #
################################################################################

readonly timedir="greenwich_mean_times"
# delay until result of cron is read. Cron works every minute.
readonly delay=70
# set to true to skip NTP and report all times only
readonly skipSync="false"
# Set to true to include local host time in ntp sync
readonly doLocal="true"
readonly cleanCron="true"


################################################################################
#                           TESTRUNNER CONFIGURATION                           #
################################################################################

streamFormat="mp4"
rtmpPort="1935"
rtmpPath="bbc1"
userName="mbrown49"
skipTestSync="true" # false for real tests
ntpHost="0.uk.pool.ntp.org"

# A number of times could be considered. Should be shorter than the video length.
streamMaxLength="00:00:20"

# set to null to disable 'removeOldCap'
removeOldCap="true"

capDir="tcpdumps"
pcapFileName="testrunner.pcap"
serverList="servers.csv"
localIface="wlan0"
localUser="mjb"

# In the future we will select files with additional bitrate/quantifiers
streamFiles=(
"crabs"
)
