# Config for dev mode (setup.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
rootDir="/local/mbrown49/burnsrv"
vidDir="/local/mbrown49/burnsrv/bbc1/"
htmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.
bbc1root='\/local\/mbrown49\/burnsrv\/bbc1'
wwwroot='\/local\/mbrown49\/burnsrv\/www'
userName="mjb"
##########################################################

# Config for live mode (previously setup2.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
liveRootDir="/local/mbrown49/burnsrv"
liveVidDir="/local/mbrown49/burnsrv/bbc1/"
liveHtmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.
liveBbc1root='\/local\/mbrown49\/burnsrv\/bbc1'
liveWwwRoot='\/local\/mbrown49\/burnsrv\/www'
liveUserName="mbrown49"
##########################################################

# Identical for both dev and live
nginxConfigDir="/etc/nginx/"
rtmpEnabled="$nginxConfigDir/modules-enabled/50-mod-stream.conf"
