# Config for dev mode (setup.sh)
##### EDIT BETWEEN THESE LINES TO HAVE MATCHING PATHS ####
readonly rootDir="/local/mbrown49/burnsrv"
readonly vidDir="/local/mbrown49/burnsrv/bbc1/"
readonly htmlDir="/local/mbrown49/burnsrv/www/"
# These need pathnames escaped for SED.
readonly bbc1root='\/local\/mbrown49\/burnsrv\/bbc1'
readonly wwwroot='\/local\/mbrown49\/burnsrv\/www'
readonly userName="thran"
##########################################################

readonly nginxConfigDir="/etc/nginx/"

