# MJB 20 11 2019
# Config file for a test run; processed by runexpt.sh
# Specify voltage, refresh rate, temperature
# Specify which kinds of tests are to be run; numerical or what

# General Config

voltages="1.2"
refreshRates="10 20 30"
temperatures="30 40 50 60"
dumpInterval="60"

testScenario="fftest"
testExecDir=""
logFileDir=""
logFileName=""

# FFtest config

maximumLogarithms="10000000"
